#maps {
  width: 500px;
  height: 400px;
}

.flex {
  display: flex;
}

.graphs {
  margin: 30px;
}

.graphs .pieChartContainer h2 {
  margin: 0px;
  text-align: center;
  font-size: 23px;
}

.graphs .pieChartContainer .pieChart {
  width: 600px;
  height: 350px;
}

.graphs #startLineChartContainer {
  width: 50%;
  height: 370px;
}

.graphs #endLineChartContainer {
  width: 50%;
  height: 370px;
}

.graphs #allLineChartContainer {
  width: 50%;
  height: 370px;
}
