#maps {
  width: 500px;
  height: 400px;
}

.flex {
  display: flex;
}

.chart {
  border: solid 2px #000;
  margin: 3px;
  filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.3));
}

.graphs {
  margin: 30px;
}

.graphs .pieChartContainer h2 {
  margin: 0px;
  text-align: center;
  font-size: 23px;
}

.graphs .pieChartContainer .pieChart {
  width: 600px;
  height: 350px;
}

.graphs #startLineChartContainer, .graphs #scatterChartContainer, .graphs #columnChartContainer {
  width: 50%;
  height: 370px;
}

.graphs #endLineChartContainer {
  width: 50%;
  height: 370px;
}

.graphs #allLineChartContainer {
  width: 50%;
  height: 370px;
}
