#maps {
  width: 500px;
  height: 400px;
  // margin: 0 auto;
}

.flex {
  display: flex;
}

.chart {
  border: solid 2px #000;
  margin: 3px;
  filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.3));
}

.graphs {
  margin: 30px;
  .pieChartContainer {
    h2 {
      margin: 0px;
      text-align: center;
      font-size: 23px;
    }
    .pieChart {
      width: 600px;
      height: 350px;
    }
  }
  
  #startLineChartContainer,#scatterChartContainer,#columnChartContainer {
    width: 50%;
    height: 370px;
  }
  #endLineChartContainer {
    width: 50%;
    height: 370px;
  }
  #allLineChartContainer {
    width: 50%;
    height: 370px;
  }
}

