
#maps {
  width: 500px;
  height: 400px;
  // margin: 0 auto;
}

.text_center {
  text-align: center;
}

.flex {
  display: flex;
}

.chart {
  border: solid 2px #000;
  margin: 3px;
  filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.3));
}

.graphs {
  margin: 30px;
  .pieChartContainer {
    h2 {
      margin: 0px;
      text-align: center;
      font-size: 23px;
    }
    .pieChart {
      width: 600px;
      height: 350px;
    }
  }
  .color_bar {
    width: 400px;
    height: 20px;
    margin: 0 auto;
    margin-top: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#39ef2f+0,fff600+50,fff600+50,f4ff28+50,fff600+50,fff600+51,fff600+51,fff600+51,fff600+51,ff0000+100 */
    background: #39ef2f; /* Old browsers */
    background: -moz-linear-gradient(left, #39ef2f 0%, #fff600 50%, #fff600 50%, #f4ff28 50%, #fff600 50%, #fff600 51%, #fff600 51%, #fff600 51%, #fff600 51%, #ff0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #39ef2f 0%,#fff600 50%,#fff600 50%,#f4ff28 50%,#fff600 50%,#fff600 51%,#fff600 51%,#fff600 51%,#fff600 51%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #39ef2f 0%,#fff600 50%,#fff600 50%,#f4ff28 50%,#fff600 50%,#fff600 51%,#fff600 51%,#fff600 51%,#fff600 51%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39ef2f', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
  }
  
  #startLineChartContainer,#scatterChartContainer,
  #columnChartContainer, #endLineChartContainer,
  #allLineChartContainer {
    width: 50%;
    height: 370px;
  }
}

