#maps {
  width: 500px;
  height: 400px;
  // margin: 0 auto;
}

.flex {
  display: flex;
}


.graphs {
  margin: 30px;
  .pieChartContainer {
    h2 {
      margin: 0px;
      text-align: center;
      font-size: 23px;
    }
    .pieChart {
      width: 600px;
      height: 350px;
    }
  }
  
  #startLineChartContainer {
    width: 50%;
    height: 370px;
  }
  #endLineChartContainer {
    width: 50%;
    height: 370px;
  }
  #allLineChartContainer {
    width: 50%;
    height: 370px;
  }
}
