$border_color: #bbb;
$graph_width: 700px;

#maps {
  width: 500px;
  height: 400px;
  // margin: 0 auto;
}

.text_center {
  text-align: center;
}

.flex {
  display: -webkit-box;  //この辺が
  display: -webkit-flex; //Android2.3~とか
  display: -ms-flexbox; //IE9~用
  display: flex;
}


.chart {
  width: 700px;
  height: 500px;
  border: solid 2px $border_color;
  margin: 3px;
  filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.3));
}
.chart_title {
  text-align: center;
  // position: absolute;
  // left: 50%;
  // transform:  translateX(-50%);
}
.svg_wrapper svg {
  position: absolute; //IE11で
  top: 0;
  left: 0;
  width: $graph_width;
  height: 100%;
}
.svg_wrapper {
  position: relative;
  width: $graph_width;
  // padding-top: 100px; /* SVG高さ / SVG幅 * 100 */
}

.list_style_none {
  list-style: none;
}


// セレクトボックス
.cp_ipselect {
	overflow: hidden;
	width: 90%;
	// margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid $border_color;
	// border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

// listの形式（クレーン情報，表示期間）
.crane_data_label_li {
  margin-bottom: -25px;
  li {
    width: 150px;
    height: 30px;
    text-align: center;
  }
}
.crane_data_li {
  li {
    border: solid 1px $border_color;
    width: 150px;
    height: 30px;
    text-align: right;
    line-height: 30px;
    span {
      margin-right: 5px;
    }
  }
}

.display_period {
  .setting :nth-child(1) {
      border: none;
  }
  .date_selection {
    input {
      width: 140px;
    }
  }
}

.summary_sheet {
  .units{
    p {
      width: 50%;
      text-align: right;
      max-width: 500px;
    }
  }
  .tables {
    table {
      width: 50%;
      text-align: right;
      max-width: 500px;
      border: solid 1px $border_color;
      border-collapse: collapse;
      th {
        text-align: center;
      }
    }
  }
}

.graphs {
  margin: 30px;
  .pieChartContainer {
    width: 600px;
    margin: 0 auto;
    border: solid 2px $border_color;
    h2 {
      margin: 0px;
      text-align: center;
      font-size: 23px;
    }
    .pieChart {
      width: 600px;
      height: 350px;
    }
  }
  .color_bar {
    width: 400px;
    height: 20px;
    margin: 0 auto;
    margin-top: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#39ef2f+0,fff600+50,fff600+50,f4ff28+50,fff600+50,fff600+51,fff600+51,fff600+51,fff600+51,ff0000+100 */
    background: #39ef2f; /* Old browsers */
    background: -moz-linear-gradient(left, #39ef2f 0%, #fff600 50%, #fff600 50%, #f4ff28 50%, #fff600 50%, #fff600 51%, #fff600 51%, #fff600 51%, #fff600 51%, #ff0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #39ef2f 0%,#fff600 50%,#fff600 50%,#f4ff28 50%,#fff600 50%,#fff600 51%,#fff600 51%,#fff600 51%,#fff600 51%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #39ef2f 0%,#fff600 50%,#fff600 50%,#f4ff28 50%,#fff600 50%,#fff600 51%,#fff600 51%,#fff600 51%,#fff600 51%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39ef2f', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
  }
  
  #radar_chart {
    width: calc(40% + 100px);
  }
  // #stacked_chart {
  //   width: 400px;
  //   height: 300px;
  // }
}
